In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
my_data = pd.read_csv('home.txt',names=["size","bedroom","price"])

In [3]:
my_data.head()

   size  bedroom   price
0  2104        3  399900
1  1600        3  329900
2  2400        3  369000
3  1416        2  232000
4  3000        4  539900

In [4]:
#we need to normalize the features using mean normalization
my_data = (my_data - my_data.mean())/my_data.std()
my_data.head()

       size   bedroom     price
0  0.130010 -0.223675  0.475747
1 -0.504190 -0.223675 -0.084074
2  0.502476 -0.223675  0.228626
3 -0.735723 -1.537767 -0.867025
4  1.257476  1.090417  1.595389

In [5]:
#setting the matrixes
X = my_data.iloc[:,0:2]
ones = np.ones([X.shape[0],1])

X = np.concatenate((ones,X),axis=1)

y = my_data.iloc[:,2:3].values #.values converts it from pandas.core.frame.DataFrame to numpy.ndarray
theta = np.zeros([1,3])# 1 row and 3 col

#set hyper parameters
alpha = 0.01
iters = 1000

In [6]:
#computecost
def computeCost(X,y,theta):
    tobesummed = np.power(((X @ theta.T)-y),2)
    return np.sum(tobesummed)/(2 * len(X))

print(y)

[[ 0.47574687]
 [-0.08407444]
 [ 0.22862575]
 [-0.86702453]
 [ 1.59538948]
 [-0.32399786]
 [-0.20403615]
 [-1.13094828]
 [-1.02697347]
 [-0.78305133]
 [-0.80305294]
 [ 0.05268191]
 [-0.08328269]
 [ 2.87498104]
 [-0.64389575]
 [ 0.87561923]
 [-0.32399786]
 [-1.12374258]
 [ 1.27627534]
 [ 2.06803861]
 [-0.69987788]
 [-0.68308324]
 [-0.77985235]
 [-0.64389575]
 [ 1.86730269]
 [-0.72387022]
 [ 0.99238196]
 [ 1.02837047]
 [ 1.07635515]
 [-0.32399786]
 [ 0.0758745 ]
 [-1.363666  ]
 [-0.20403615]
 [ 1.91528737]
 [-0.43596212]
 [-0.72387022]
 [-0.88381916]
 [ 0.03668701]
 [ 1.66816625]
 [-0.42716493]
 [ 0.22462702]
 [-0.08407444]
 [-0.21123385]
 [-0.33119556]
 [-1.28369153]
 [-0.32399786]
 [-0.80704367]]

In [13]:
#gradient descent

def gradientDescent(X,y,theta,iters,alpha):
    print('X',X)
    print('----------------')
    print('theta.T',theta.T)
    print('----------------')
    print('(X @ theta.T - y)',(X @ theta.T - y))
    print('np.sum(X * (X @ theta.T - y)',np.sum(X * (X @ theta.T - y)))
    cost = np.zeros(iters)
    for i in range(iters):
        theta = theta - (alpha/len(X)) * np.sum(X * (X @ theta.T - y), axis=0)
        cost[i] = computeCost(X, y, theta)
    
    return theta,cost

#running the gd and cost function
g,cost = gradientDescent(X,y,theta,iters,alpha)
print(g)

finalCost = computeCost(X,y,g)
print(finalCost)

X [[ 1.00000000e+00  1.30009869e-01 -2.23675187e-01]
 [ 1.00000000e+00 -5.04189838e-01 -2.23675187e-01]
 [ 1.00000000e+00  5.02476364e-01 -2.23675187e-01]
 [ 1.00000000e+00 -7.35723065e-01 -1.53776691e+00]
 [ 1.00000000e+00  1.25747602e+00  1.09041654e+00]
 [ 1.00000000e+00 -1.97317285e-02  1.09041654e+00]
 [ 1.00000000e+00 -5.87239800e-01 -2.23675187e-01]
 [ 1.00000000e+00 -7.21881404e-01 -2.23675187e-01]
 [ 1.00000000e+00 -7.81023044e-01 -2.23675187e-01]
 [ 1.00000000e+00 -6.37573110e-01 -2.23675187e-01]
 [ 1.00000000e+00 -7.63567023e-02  1.09041654e+00]
 [ 1.00000000e+00 -8.56737193e-04 -2.23675187e-01]
 [ 1.00000000e+00 -1.39273340e-01 -2.23675187e-01]
 [ 1.00000000e+00  3.11729182e+00  2.40450826e+00]
 [ 1.00000000e+00 -9.21956312e-01 -2.23675187e-01]
 [ 1.00000000e+00  3.76643089e-01  1.09041654e+00]
 [ 1.00000000e+00 -8.56523009e-01 -1.53776691e+00]
 [ 1.00000000e+00 -9.62222960e-01 -2.23675187e-01]
 [ 1.00000000e+00  7.65467909e-01  1.09041654e+00]
 [ 1.00000000e+00  1.29648433e+00  1.09041654e+00]
 [ 1.00000000e+00 -2.94048269e-01 -2.23675187e-01]
 [ 1.00000000e+00 -1.41790005e-01 -1.53776691e+00]
 [ 1.00000000e+00 -4.99156507e-01 -2.23675187e-01]
 [ 1.00000000e+00 -4.86733818e-02  1.09041654e+00]
 [ 1.00000000e+00  2.37739217e+00 -2.23675187e-01]
 [ 1.00000000e+00 -1.13335621e+00 -2.23675187e-01]
 [ 1.00000000e+00 -6.82873089e-01 -2.23675187e-01]
 [ 1.00000000e+00  6.61026291e-01 -2.23675187e-01]
 [ 1.00000000e+00  2.50809813e-01 -2.23675187e-01]
 [ 1.00000000e+00  8.00701226e-01 -2.23675187e-01]
 [ 1.00000000e+00 -2.03448310e-01 -1.53776691e+00]
 [ 1.00000000e+00 -1.25918949e+00 -2.85185864e+00]
 [ 1.00000000e+00  4.94765729e-02  1.09041654e+00]
 [ 1.00000000e+00  1.42986760e+00 -2.23675187e-01]
 [ 1.00000000e+00 -2.38681627e-01  1.09041654e+00]
 [ 1.00000000e+00 -7.09298077e-01 -2.23675187e-01]
 [ 1.00000000e+00 -9.58447962e-01 -2.23675187e-01]
 [ 1.00000000e+00  1.65243186e-01  1.09041654e+00]
 [ 1.00000000e+00  2.78635031e+00  1.09041654e+00]
 [ 1.00000000e+00  2.02993169e-01  1.09041654e+00]
 [ 1.00000000e+00 -4.23656542e-01 -1.53776691e+00]
 [ 1.00000000e+00  2.98626458e-01 -2.23675187e-01]
 [ 1.00000000e+00  7.12617934e-01  1.09041654e+00]
 [ 1.00000000e+00 -1.00752294e+00 -2.23675187e-01]
 [ 1.00000000e+00 -1.44542274e+00 -1.53776691e+00]
 [ 1.00000000e+00 -1.87089985e-01  1.09041654e+00]
 [ 1.00000000e+00 -1.00374794e+00 -2.23675187e-01]]
----------------
theta.T [[0.]
 [0.]
 [0.]]
----------------
(X @ theta.T - y) [[-0.47574687]
 [ 0.08407444]
 [-0.22862575]
 [ 0.86702453]
 [-1.59538948]
 [ 0.32399786]
 [ 0.20403615]
 [ 1.13094828]
 [ 1.02697347]
 [ 0.78305133]
 [ 0.80305294]
 [-0.05268191]
 [ 0.08328269]
 [-2.87498104]
 [ 0.64389575]
 [-0.87561923]
 [ 0.32399786]
 [ 1.12374258]
 [-1.27627534]
 [-2.06803861]
 [ 0.69987788]
 [ 0.68308324]
 [ 0.77985235]
 [ 0.64389575]
 [-1.86730269]
 [ 0.72387022]
 [-0.99238196]
 [-1.02837047]
 [-1.07635515]
 [ 0.32399786]
 [-0.0758745 ]
 [ 1.363666  ]
 [ 0.20403615]
 [-1.91528737]
 [ 0.43596212]
 [ 0.72387022]
 [ 0.88381916]
 [-0.03668701]
 [-1.66816625]
 [ 0.42716493]
 [-0.22462702]
 [ 0.08407444]
 [ 0.21123385]
 [ 0.33119556]
 [ 1.28369153]
 [ 0.32399786]
 [ 0.80704367]]
np.sum(X * (X @ theta.T - y) -59.6734406566465
[[-1.03191687e-16  8.78503652e-01 -4.69166570e-02]]
0.13070336960771892